{{define "about"}}
{{template "header" .}}
 <div>
    <img src="/static/image/logo.png" alt="GoShop" class="col-lg-2 col-md-3 col-sm-4"/>
    <p>this is a shop</p>
 </div>
{{template "footer"}}
{{end}}