{{define "header"}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{$.Title}} | GoShop</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" 
              integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" 
              crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body class="min-vh-100">
  <head>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <image class="navbar-brand" href="#" src="/static/image/logo.png" alt="GoShop" style="height: 3em"/>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categories
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">T-shirt</a></li>
                <li><a class="dropdown-item" href="#">coat</a></li>
                <li><a class="dropdown-item" href="#">Sticker</a></li>
                <li><a class="dropdown-item" href="#">Shoes</a></li>
                <li><a class="dropdown-item" href="#">Books</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">About</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          

          <div class="ms-3">
            <a href="/cart" class="btn btn-link p-0" style="cursor: pointer;">
              <i class="fa-solid fa-cart-shopping fa-2xl"></i>
            </a>
          </div>
          
          {{if .user_id}}
          <div class="dropdown">
            <div class="ms-3 dropdown-toggle" data-bs-toggle="dropdown">
              <i class="fa-solid fa-user fa-2xl"></i>
              <span>
                Name
              </span>
            </div>
            <ul class="dropdown-menu mt-2" style="min-width: auto;">
              <li><a class="dropdown-item" href="#">Order Center</a></li>
              <li><a class="dropdown-item" href="#">Infomations</a></li>
              <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
          </div>

          {{else}}
          <div class="ms-3">
            <a type="button" class="btn btn-primary" href="/log-in"> In</a>
          </div>
          {{end}}
        </div>
      </div>
    </nav>
  </head>
<main style="min-height: calc(80vh);">
<div class="container-fluid py-3">
{{end}}